.uploads{
    width: 60px;
    height: 20px;
    display: inline-flex;
    border: thick;
    border-color: black;
    border-radius: 40%;
    padding: 8px;
}

.text5{
    background-color: whitesmoke;
    width: 260px;
    height: 355px;
    margin-top: 3px;
    border-width: 3px;
    border-color: black;
}



body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
    font-style: normal;
    font-weight: normal;
  }
  
  * {
      box-sizing:border-box;
      background-color: #add8e6;
  }

  input{
      background-color: whitesmoke;
  }

  :local(.aboutMe){
      width: 100px;
      left: 50%;
      background-color: whitesmoke;
  }
  :local(.rowText1){
      background-color: whitesmoke;
  }

  .searchSpec{
    width: 20%;
  }
  
  /* For mobile: regular expression syntax sets all col classes in one go*/
  [class*="col-"] {
      width: 100%;
      float:left;
      padding:5px;
      display:block;
  }
  
  /* need this first, in order to have it "overwritten" by the media queries */
  .img-change{
    background-image: none;
  }
  
  /* for tablets (width 600-800 px)*/
  @media only screen and (min-width: 600px) {
    .col-m-1 {width:8.33%;}
    .col-m-2 {width:16.66%;}
    .col-m-3 {width:25%;}
    .col-m-4 {width:33.33%;}
    .col-m-5 {width:41.66%;}
    .col-m-6 {width:50%;}
    .col-m-7 {width:58.33%;}
    .col-m-8 {width:66.66%;}
    .col-m-9 {width:75%;}
    .col-m-10 {width:83.33%;}
    .col-m-11 {width:91.66%;}
    .col-m-12 {width:100%;}
  
    .img-change{
      background-image: url('https://via.placeholder.com/200 ');
      height:200px;
      width:auto;
      background-size: contain;
      background-repeat: no-repeat;
      margin:1px;
    }
  
  }
  
  /* for desktops (width 801 px and wider)*/
  @media only screen and (min-width: 800px) {
  
    .col-1 {width:8.33%;}
    .col-2 {width:16.66%;}
    .col-3 {width:25%;}
    .col-4 {width:33.33%;}
    .col-5 {width:41.66%;}
    .col-6 {width:50%;}
    .col-7 {width:58.33%;}
    .col-8 {width:66.66%;}
    .col-9 {width:75%;}
    .col-10 {width:83.33%;}
    .col-11 {width:91.66%;}
    .col-12 {width:100%;}
  
    .img-change{
      background-image: url('https://via.placeholder.com/200');
      height:200px;
      width:auto;
      background-size: contain;
      background-repeat: no-repeat;
      margin:1px;
    }
  
  }
  
  @media only screen and (orientation: landscape) {
      body {
          background-color: lightgray;
      }
  }
  
  
  .img-contain{
    width: 50%;
    height: 50px;
    background-image: url('https://via.placeholder.com/200');
    background-repeat: no-repeat;
    background-size: contain;
    margin:1px;
  }
  
  .img-stretch{
    width: 150%;
    height: 50px;
    background-image: url('https://via.placeholder.com/200');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin:1px;
  }

  .buttons {
    background-color: whitesmoke;
    border-color: black;
    border-width: 3px;
  }
  
  .img-cover{
    width: 50%;
    height: 50px;
    background-image: url('https://via.placeholder.com/200');
    background-size: cover;
    margin:1px;
  }

  .spec-element{
    width: 80px;
    height: 80px;
    padding: 5px;
  }


.grid {
  margin-left: 30px;
}

  .main{
      left: 150px;
      align-self: center;
      
  }
  
  /* set colors and dimensions for main sections */

  .nextButton{
      width: 100px;
      height: 35px;
      top: 90%;
      margin-left: 1100px;
      background-color: whitesmoke;
    border-color: black;
    border-width: 3px;

  }

    .searchBar{
        width: 65%;
        height: 20px;
        margin: 3px;
      }
 
  .header {  
    height: 45px;
  }
  .rightbox{
    height: 500px;
  }
  
  
  