
.WholeApp{
    border: solid;
    background-color: #e4e4e4;
    border-width: thick;
    border-color: black;
background-color: lightblue;
}

.greeting{
    position: absolute;
  width: 642px;
  height: 88px;
  left: 108px;
  top: 126px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  }



  .logo {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 15%;
    top: 250px;
  }

  .App {
    background-color: #e4e4e4;
  }

  .header {
    display: inline;
    background-color: #e4e4e4;
    min-height: 40px;
    display: flex; 
    align-content: center;
    align-items: center;
    flex-direction: row;
    font-size: calc(10px + 2vmin);
    color: black;
  }

  .homeButton {
    display: inline-flex;
    background-color: #4b4f57;
    border-color: #4b4f57;
    font-size: 30px;
    
  position: absolute;
  left: 4.17%;
  right: 76.39%;
  top: 0%;
  }

  .loginInput{
    width: 100%;
    height: 50%;
    margin: 3px;
    border-color: black;
    border-width: 1px;
  }

  .loginForm {
    position: relative;
    display: inline-block;
    width: 20%;
    padding: 3px 5px;
    margin: 10px 8px;
    left: 20%;
    height: 80px;
    top: 270px;
    box-sizing: border-box; 


  }

  .loginButton {
    border: none;
    background-color: gray;
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
    font-size: 14px;
  }

  .loginButton:hover{
    color:black;
  }


  .registerButton {
    border: none;
    background-color: gray;
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
    font-size: 14px;
  }

  .registerButton:hover{
    color:black;
    
  }
